body{
    font-family: 'Poppins',sans-serif;
    padding: 0px;
    margin: 0px;
}
.container
{
    margin-bottom: 10px;
}
/* 1st part */
.donate1{
    text-align: center;
    background-image: url("images/donation1.jpg");
    background-repeat: no-repeat;
    /* background-position: fixed; */
    background-size: 100% ;
    height:600px;
    padding-top: 180px; 
}

.donate1st h1{
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 79px;
text-align: center;
color: white;
padding-top: 80px;
margin: 5px;
}

.letter
{
font-style: normal;
font-size: 18px;
color: white;
padding-bottom: 30px;
}

.btn
{
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #FF5959;;
    padding: 15px 20px;
    color: white; 
    border-radius: 5px; 
}

.donate2
{
    text-align: center;
    margin: 10px;
}
.h1
{
font-style: normal;
font-weight: 700;
font-size: 45px;
margin: 5px;



}
.second
{
    padding-top: 100px;

}
.box1
{
    display: flex;
    justify-content: center;
  
}
.box
{
   
    color: #707070;
    width: 130px;
    height: 100px;
    margin: 5px;
    font-weight: 700;
    font-size: 30px;
    background: #FAFAFA;

}
.box2
{
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.hr
{
    
    padding-left: 380px;
    padding-right: 380px;
}
.btn1
{
 margin-top: 50px;
}

.p
{
  padding-top: 50px;
  color: #B3B3B3;
  font-size: 18px;
}
.col
{
    color: #707070;
}
.icon8
{
width: 58.13px;
height: 49.77px;
}
.donate3
{
    display: flex;
    justify-content: center;

}
.part1 
{
padding-top: 60px;
width: 300px;
height: 250px;
background: rgba(79, 157, 166, 0.1);
border-radius: 5px;
text-align: left;
padding-left: 20px;
padding-right: 20px;
margin: 10px;
}
.part2
{
    padding-top: 60px;
    width: 300px;
    height: 250px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;   
}
.part3
{
    padding-top: 60px;
    width: 300px;
    height: 250px;
 
    background: rgba(255, 252, 177, 0.787);
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;   
}
.third
{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.trd
{
    width: 482px;
    height: 374px;
    padding-right: 80px;
}
.trd1
{
    width: 482px;
    height: 374px;
    padding-left: 70px;
}

.picture
{
width: 456px;
height: 440px;
padding-right: 50px;
border-radius: 5px;
}
.h11
{
font-style: normal;
font-weight: 700;
font-size: 45px;
}

.email1
{
   width:275px ;
   height: 25px;
    margin-left: 70px;
    border-radius: 5px;
    background: #D9D9D9;
   
}
.email
{
width: 809px;
height: 100px;
background: #FFF4D6;

}
.donate4
{
    display: flex;
    justify-content: center;
}

.part11
{
    
padding-top: 60px;
width: 700px;
height: 80px;
background: #FFF4D6;
border-radius: 5px;
text-align: left;
padding-left: 20px;
padding-right: 20px;
margin: 10px;
display: flex;
justify-content: center;
}
.text_email
{
width: 275px;
height: 30px;
background: #D9D9D9;
border-radius: 5px 0px 0px 5px;
border: none;

}
.btn2
{
    
    text-align: center;
    text-decoration: none;
    background-color: #FF5959;;
    padding: 10px 35px 9px 25px;
    color: white; 
    border-radius: 0px 5px 5px 0px; 
    padding-top: 1px;
   
}
.f1
{
    font-family: 'Lobster';
    color: #FF5959;
}
.f2
{
    color: #D9DBE1;
    font-size: 10px;
}
.foot
{
    text-align: center;
    color: white;
    background: #0B0D17;
    height: 100px;
    padding-top: 20px;
}
